export APP_NAME='OpenCommerce Dev'
export LOGO="https://pbs.twimg.com/profile_images/1347273728141500418/mClA3m5v_400x400.png"
export URL=localhost:3000

export MONGO_URI=localhost
export MONGO_COLLECTION=OpenCommerce

export JWT_SECRET=asdf

export URL=localhost:5000

export NODEMAILER_ADDRESS=keycloak@forgeserv.net
export NODEMAILER_PASSWORD=crah.spur4vaf.HOUD

export AWS_REGION=us-east-2
export AWS_BUCKET=jstovall-opencommerce-dev
export AWS_ACCESS_KEY_ID=AKIAT6IFHPMGHY3TOAAG
export AWS_SECRET_ACCESS_KEY=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
